.git
.github
.pytest_cache
.venv
__pycache__
*.py[cod]
.DS_Store

build
dist
*.egg-info

zim_files
config.json
.tensor_config.key
collections.json
zim_manifest.json
presets.json
*.index
*.pkl
*.bm25

assets
